@inherits LayoutComponentBase
@using BootstrapBlazor.Components
@using Abp.AspNetCore.Components.WebAssembly.BootstrapTheme.Components.ApplicationLayout.MainHeader

<Layout SideWidth="0" IsPage="true" IsFullSide="true" IsFixedHeader="true" IsFixedFooter="true"
        ShowFooter="true" ShowGotoTop="true" ShowCollapseBar="true" Menus="@Menus" UseTabSet="@UseTabSet" AdditionalAssemblies="@GetAdditionalAssemblies()">
    <Header>
        <span class="ml-3 flex-fill">Bootstrap of Blazor</span>
        <Switch @bind-Value="@UseTabSet" OnText="多标签" OffText="单页" OnColor="@Color.Danger" OffColor="@Color.Dark" style="width: 120px;"></Switch>
        <img src="images/Argo.png" class="layout-avatar-right" />
        <span class="ml-3 d-none d-sm-block">超级管理员</span>
    </Header>
    <Side>
        <MainHeaderBranding />
        <div class="layout-user">
            <MainHeaderToolbarUserMenu />
        </div>
    </Side>
    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
    <Footer>

    </Footer>
</Layout>

<Toast />
<Dialog />
<PopoverConfirm />
<Message />
<SweetAlert />